<div class="w-screen h-screen bg-gradient-to-r from-teal-400 to-blue-500 flex flex-col items-center">
  <p class="h-1/5 font-sans font-bold text-5xl text-center my-5">Black's Turn</p>
  <div class="max-w-3xl grid grid-cols-8 gap-3">
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-700 rounded shadow-xl text-3xl text-white"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-700 rounded shadow-xl text-3xl text-white"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-700 rounded shadow-xl text-3xl text-white"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-700 rounded shadow-xl text-3xl text-white"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
    <button disabled class="w-20 h-20 bg-gray-200 rounded shadow-xl text-3xl text-black"><span class="fas fa-chess-rook"></span></button>
  </div>
</div>
